.RTE [data-block=layout] {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 1em;
    margin-top: 2em;
}
@media (max-width: 640px) {
    .RTE [data-block=layout] {
       flex-direction: column;
    }
}

.RTE .wrap-center {
  text-align: center;
}
.RTE .wrap-center img {
  margin-left: auto;
  margin-right: auto;
}
.RTE .wrap-center figcaption {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.RTE .float-left {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 200px;
}
.RTE .float-right {
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-width: 200px;
}
.RTE {
    --rte-outset-md: 10rem;
}
.RTE .outset-right,
.RTE .outset-left,
.RTE .outset-both
{
  max-width: 96vw;
}
@media (min-width: 640px) {
    .RTE .outset-right {
      position: relative;
      width: calc(100% + var(--rte-outset-md));
      transform: translateX(var(--rte-outset-md)) translate3d(0, 0, 0);
      left: calc(var(--rte-outset-md) * -1);
    }
    .RTE .outset-left {
      width: calc(100% + var(--rte-outset-md));
      transform: translateX(calc(var(--rte-outset-md) * -1)) translate3d(0, 0, 0);
    }
    .RTE .outset-both {
      position: relative;
      width: calc(100% + var(--rte-outset-md) + var(--rte-outset-md));
      transform: translateX(-50%) translate3d(0, 0, 0);
      left: 50%;
    }
}
.RTE .embed-responsive {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.RTE .embed-responsive::after {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.RTE .embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
